<body>
  <div class="contenido">
      <section class="cuadro1"></section>
      <section class="cuadro2"></section>
      <section class="cuadro3"></section>
      <section class="cuadro4"></section>

      <section class="text1">
        <h2>hola mundo - BOLIVIA<br>
        PRIMER PARCIAL <BR>
        ---------------------------<BR>
        **********************</h2>
      </section>
      <section class="text2">
        <h2>hola mundo - BOLIVIA<br>
          PROGRAMACION WEB <BR>
          ---------------------------<BR>
          **********************</h2>
      </section>
      <section class="text3">
        <h2>hola mundo - BOLIVIA<br>
          ING DE SISTEMAS <BR>
          ---------------------------<BR>
          **********************</h2>
      </section>
      <section class="text4">
        <h2>hola mundo - BOLIVIA<br>
          UDABOL 20222 <BR>
          ---------------------------<BR>
          **********************</h2>
      </section>
  </div>
</body>
